<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linzx.system.mapper.RoleMenuMapper">
    
    <resultMap type="com.linzx.system.domain.RoleMenu" id="RoleMenuResult">
        <result property="roleMenuId"    column="role_menu_id"    />
        <result property="roleId"    column="role_id"    />
        <result property="menuId"    column="menu_id"    />
    </resultMap>
	
	<sql id="selectVo">
        select role_menu_id, role_id, menu_id from sys_role_menu
    </sql>
	
    <select id="selectList" parameterType="com.linzx.system.domain.RoleMenu" resultMap="RoleMenuResult">
        <include refid="selectVo"/>
        <where>  
            <if test="roleMenuId != null "> and role_menu_id = #{roleMenuId}</if>
             <if test="roleId != null "> and role_id = #{roleId}</if>
             <if test="menuId != null "> and menu_id = #{menuId}</if>
         </where>
    </select>
    
    <select id="getById" parameterType="java.lang.Long" resultMap="RoleMenuResult">
        <include refid="selectVo"/>
        where role_menu_id = #{roleMenuId}
    </select>
        
    <insert id="insert" parameterType="com.linzx.system.domain.RoleMenu" useGeneratedKeys="true" keyProperty="roleMenuId">
        insert into sys_role_menu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="roleId != null  ">role_id,</if>
			<if test="menuId != null  ">menu_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="roleId != null  ">#{roleId},</if>
			<if test="menuId != null  ">#{menuId},</if>
         </trim>
    </insert>
	 
    <update id="update" parameterType="com.linzx.system.domain.RoleMenu">
        update sys_role_menu
        <trim prefix="SET" suffixOverrides=",">
            <if test="roleId != null  ">role_id = #{roleId},</if>
            <if test="menuId != null  ">menu_id = #{menuId},</if>
        </trim>
        where role_menu_id = #{roleMenuId}
    </update>

	<delete id="deleteById" parameterType="java.lang.Long">
        delete from sys_role_menu where role_menu_id = #{roleMenuId}
    </delete>
	
    <delete id="deleteByIds" parameterType="java.lang.Long">
        delete from sys_role_menu where role_menu_id in 
        <foreach item="roleMenuId" collection="array" open="(" separator="," close=")">
            #{roleMenuId}
        </foreach>
    </delete>

    <insert id="insertRoleMenuBatch" parameterType="com.linzx.system.domain.RoleMenu">
        insert into sys_role_menu(role_id, menu_id) values
        <foreach collection="collection" item="item" separator="," >
            (#{item.roleId},#{item.menuId})
        </foreach>
    </insert>
</mapper>