<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
    <head>
        <th:block th:include="fragment :: header('修改角色')" />
        <th:block th:include="fragment :: ztree-css" />
    </head>
    <body class="white-bg">
        <div class="wrapper wrapper-content animated fadeInRight ibox-content">
            <form class="form-horizontal m" id="form-role-edit" th:object="${role}">
                <input id="roleId" name="roleId" type="hidden" th:field="*{roleId}">
                <div class="form-group">
                    <label class="col-sm-3 control-label ">角色名称：</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="roleName" id="roleName" th:field="*{roleName}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label ">权限字符：</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="roleName" id="roleCode" th:field="*{roleCode}" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">显示顺序：</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="roleSort" id="roleSort" th:field="*{orderNum}" required>
                    </div>
                </div>
                <!--<div class="form-group">-->
                    <!--<label class="col-sm-3 control-label">状态：</label>-->
                    <!--<div class="col-sm-8">-->
                        <!--<div class="onoffswitch">-->
                            <!--<input type="checkbox" th:checked="${role.status == 0 ? true : false}" class="onoffswitch-checkbox" id="status" name="status">-->
                            <!--<label class="onoffswitch-label" for="status">-->
                                <!--<span class="onoffswitch-inner"></span>-->
                                <!--<span class="onoffswitch-switch"></span>-->
                            <!--</label>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    <label class="col-sm-3 control-label">备注：</label>
                    <div class="col-sm-8">
                        <input id="remark" name="remark" class="form-control" type="text" th:field="*{remark}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">菜单权限</label>
                    <div class="col-sm-8">
                        <div id="menuTrees" class="ztree"></div>
                    </div>
                </div>
            </form>
        </div>
        <th:block th:include="fragment :: footer" />
        <th:block th:include="fragment :: ztree-js" />
    </body>
    <script type="text/javascript">
        var prefix = ctx + "/system/role";
        $(function() {
            var url = ctx + "/system/menu/loadAllMenuTree?roleId=" + $("#roleId").val();
            var options = {
                id: "menuTrees",
                url: url,
                dataId: "menuId",
                dataName: "menuName",
                dataUrl: "xUrl",
                check: { enable: true },
                expandLevel: 1
            };
            $.tree.init(options);
        });
        $("#form-role-edit").validate({
            rules:{
                roleName:{
                    remote: {
                        url: prefix + "/checkRoleNameUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "selfId": function () {
                                return $("#roleId").val();
                            },
                            "roleName" : function() {
                                return $.common.trim($("#roleName").val());
                            }
                        },
                        dataFilter: function(data, type) {
                            return $.parseJSON(data).data;
                        }
                    }
                },
                roleCode:{
                    remote: {
                        url: prefix + "/checkRoleCodeUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "selfId": function () {
                                return $("#roleId").val();
                            },
                            "roleCode" : function() {
                                return $.common.trim($("#roleCode").val());
                            }
                        },
                        dataFilter: function(data, type) {
                            return $.parseJSON(data).data;
                        }
                    }
                },
                orderNum:{
                    digits:true
                },
            },
            messages: {
                "roleName": {
                    remote: "角色名称已经存在"
                },
                "roleCode": {
                    remote: "角色字符已经存在"
                }
            },
            focusCleanup: true
        })
        function submitHandler() {
            if ($.validate.form()) {
                edit();
            }
        }
        function edit() {
            // var status = $("input[name='status']").is(':checked') == true ? 0 : 1;
            var nodes = $._tree.getCheckedNodes(true);
            var checkData =  $.map(nodes, function (row) {
                return {
                    roleMenuId: row['checkId'],
                    menuId: row['menuId'],
                    roleId: $("#roleId").val()
                }
            })
            $.operate.submit(prefix + "/saveEdit", {
                roleMenuList: checkData,
                roleId: $("#roleId").val(),
                // status: status,
                roleName: $("input[name='roleName']").val(),
                roleCode: $("input[name='roleCode']").val(),
                orderNum: $("input[name='orderNum']").val(),
                remark: $("input[name='remark']").val()
            }, {
                contentType: "application/json;charset=utf-8",
                error: function (request) {
                    $.modal.alertError("系统错误");
                },
                success: function (data) {
                    $.operate.successCallback(data);
                }
            })
        }
    </script>
</html>